[Desktop Entry]
Encoding=UTF-8
Name=NetBeans IDE 7.3
Comment=The Smarter Way to Code
Exec=/bin/sh "/home/kizer/netbeans-7.3/bin/netbeans"
Icon=/home/kizer/netbeans-7.3/nb/app-netbeans.svg
Categories=Application;Development;Java;IDE
Version=1.0
Type=Application
Terminal=0

